.heroMain {
  font-size: 81px;
  font-family: 'Chakra Petch Medium';
  margin-bottom: 24px;
  margin-top: 200px;
}

.anchorTag {
  scroll-margin-top: 5rem;
}

.heroTitle {
  font-size: 39px;
  font-weight: 500;
  margin-bottom: 64px;
}

.heroSubtitle {
  font-size: 29px;
  font-weight: 300;
  margin-bottom: 48px;
}

.about2 {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 48px;
  font-family: 'Chakra Petch Medium';
}

.darkFrame {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 4rem;
  border-radius: 0.25rem;
}

.center {
  margin: auto;
  text-align: center;
  width: 50%;
  padding: 10px;
}

@media screen and (max-width: 576px) {
  .darkFrame {
      padding: 2rem;
  }

  .heroMain {
    font-size: 48px;
  }

  .heroTitle {
    font-size: 28px;
  }
}