.headerContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding: 16px 0 0 16px;
}

.logoText {
    font-family: "Chakra Petch Medium";
    font-size: 36px;
    margin-left: 12px;
    margin-right: 32px;
}

.navItem{
    font-family: "Chakra Petch Medium";
    margin: 0px 10px 0 10px;
    font-size: 22px;
}