.navBar {
    backdrop-filter: blur(0.5rem);
}

.logoText {
    font-family: "Chakra Petch Medium";
    font-size: 36px;
    margin-left: 12px;
    margin-right: 32px;
}

.navItem{
    font-family: "Chakra Petch Medium";
    margin: 0px 10px 0 10px;
    font-size: 22px;
}

@media screen and (max-width: 768px) {
    .navbarBg {
        background-color: rgba(94, 94, 94, 0.75);
        border-radius: 0.25rem;
    }
}